[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "19.10b0"
isort = "*"
autoflake = "*"
pylint = "*"

[packages]
fastapi = "*"

[requires]
python_version = "3"

[scripts]
beautify = "bash -c \"autoflake -i -r --expand-star-imports --remove-all-unused-imports --remove-duplicate-keys --remove-unused-variables *.py **/*.py; isort *.py **/*.py; black *.py **/*.py\""
lint = "bash -c \"pylint *.py **/*.py\""
